.add-from {
    gap: 1%;
    width: 100%;
    display: flex;
    margin-top: 30px;
    align-items: flex-end;

    .square {
        display: flex;
        flex-direction: column;

        label {
            overflow: hidden;
            padding: 0px 20px;
            margin-bottom: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        input {
            font-size: 18px;
            padding: 10px 20px;
        }
    }

    .hero_square {
        flex-grow: 3;
    }

    .label_color-one {
        background-color: #349b0a;
    }

    .label_color-two {
        background-color: #8d001c;
    }

    .label_color-three {
        background-color: #7a7a77;
    }

    @media screen and (max-width: 768px) {
        .hero_square {
            width: 60%;
        }

        .square {
            width: 15%;
        }
    }

    button {
        height: 50%;
        color: #000;
        font-size: 18px;
        transition: 0.2s;
        padding: 10px 20px;
        background-color: #fff;

        &:hover {
            color: #fff;
            background-color: #bf7e52;
        }
    }
}

@media screen and (max-width: 576px) {
    .add-from {
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;

        .square, .hero_square {
            width: 100%;
        }

        button {
            width: 100%;
            margin-top: 20px;
        }
    }
}