.form {
    gap: 10px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 400px;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
    
    input {
        width: 100%;
        font-size: 18px;
        transition: 0.2s;
        padding: 10px 20px;

        &:focus {
            box-shadow: #005eb2 0px 0px 0px 3px;
        }
    }

    .form_buttons {
        gap: 10px;
        width: 100%;
        display: flex;
        align-items: center;

        .button {
            font-size: 18px;
            flex-basis: 50%;
            transition: 0.2s;
            padding: 5px 20px;

            &:hover {
                color: #a08ef4;
                background-color: #fff655;
            }
        }

        a {
            color: #fff;
            flex-basis: 50%;
            transition: 0.2s;
            text-align: center;

            &:hover {
                color: #fff655;
            }
        }
    }
}