.serial {
    gap: 1%;
    color: #000;
    display: flex;
    font-size: 20px;
    position: relative;

    .serial_dates {
        gap: 10px;
        display: flex;
        flex-basis: 90%;
        padding: 20px 0px;
        flex-direction: column;
        background-color: #00c68c;

        p {
            display: flex;
            font-weight: 700;
            padding: 0px 20px;
            position: relative;
            align-items: center;
            text-transform: uppercase;
            justify-content: space-between;
            

            span {
                gap: 10px;
                display: flex;

                button {
                    width: 40px;
                    height: 100%;
                    color: #fff;
                    font-size: 25px;
                    background-color: #000;

                    &:hover {
                        background-color: #bf7e52;
                    }
                }

                .add-season {
                    background-color: #c73427;
                }

                .minus-season {
                    color: #000;
                    background-color: #fffa8c;
                }

                .add-series {
                    background-color: #004b96;
                }

                .minus-series {
                    background-color: #ff8008;
                }
            }
        }
        
        @media screen and (max-width: 576px) {
            p {
                font-size: 17px;

                span {
                    gap: 5px;

                    button {
                        width: 30px;
                        font-size: 20px;
                    }
                }
            }
        }

        input {
            padding: 10px;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            border-bottom: 2px solid black;
        }

        input:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    .serial_buttons {
        gap: 20px;
        display: flex;
        padding: 20px;
        flex-basis: 10%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: #ffadf4;

        button {
            background-color: transparent;
        }
    }
}